# Database Settings
DB_CONTAINER=momu_postgres
POSTGRES_USER=momu_user
POSTGRES_PASSWORD=superparol2026
POSTGRES_DB=momu
POSTGRES_HOST=momu_postgres
POSTGRES_PORT=5432

DATABASE_URL=postgresql://momu_user:superparol2026@momu_postgres:5432/momu

# Redis & Celery
CELERY_BROKER_URL=redis://momu_redis:6379/0
CELERY_RESULT_BACKEND=redis://momu_redis:6379/0
REDIS_URL=redis://momu_redis:6379/0

# App Settings
APP_HOST=0.0.0.0
APP_PORT=8000