fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
polars[rtcompat]
fastexcel
python-multipart
celery
redis
alembic
pydantic-settings
psycopg2-binary
adbc-driver-postgresql
xlsxwriter
pandas
numpy==1.26.4
pyarrow>=14.0.1
openpyxl

watchfiles
aioredis

alembic
sqlacodegen
psycopg2-binary
